html, body,{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
td {
    vertical-align: top;
}

#chat_container {
    background-color: #ceffdd;
    width: 80%;
    border: 0px;
    position: relative;
    bottom: 1%;
    left: 10%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
#chat_div
{
  width: 80%;
  height: 80%;
  position: fixed;
  top: 0;
  left: 20%;
}

#chat{
    left:20%;
    background-color: #d6d6c2;
    width: 100%;
    height: 70%;
    
    position: relative;
}

#chat_box{
    background-color: #d6d6c2;
    width: 100%;
    height: 10%;
    margin-bottom: 20%;
    position: relative;
    bottom: 1%;
    left: 20%;
    overflow-x: auto;
}

.center_label
{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}
.chatbox {
    vertical-align: bottom;
    display: inline-block;
}
.interacting_box {
    background-color: #efddcc;
    float: left;
    height: 100%;
}
#chat_input {
    width: 99%;
}
